In [2]:
import pandas as pd

In [3]:
import zipfile
import os

In [5]:
zipfile_path = "./datasets/istanbul+stock+exchange.zip"
extract_dir = "./datasets/istanbul_stock_exchange"

if not os.path.exists(extract_dir):
    os.mkdir(extract_dir)
with zipfile.ZipFile(zipfile_path, "r") as zip_ref:
    zip_ref.extractall(extract_dir)
print(f"Archivos extraidos en: {extract_dir}")

Archivos extraidos en: ./datasets/istanbul_stock_exchange

In [ ]:
%pip install --upgrade openpyxl

In [11]:
df = pd.read_excel(os.path.join(extract_dir,"data_akbilgic.xlsx"), skiprows=1)

c:\Users\Admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [12]:
df

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
...,...,...,...,...,...,...,...,...,...,...
531,2011-02-16,0.008599,0.013400,0.006238,0.001925,0.007952,0.005717,0.018371,0.006975,0.003039
532,2011-02-17,0.009310,0.015977,0.003071,-0.001186,0.000345,0.002620,0.001686,-0.000581,0.001039
533,2011-02-18,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
534,2011-02-21,-0.013069,-0.013706,-0.020742,-0.014239,-0.011275,0.001358,-0.011942,-0.012615,-0.000958
535,2011-02-22,-0.007246,-0.019442,0.000000,-0.000473,-0.002997,-0.017920,-0.012252,-0.005465,-0.014297

In [15]:
pd.to_datetime("13-4-1987", dayfirst=True).strftime(%d, %B %Y)

'13, April 1987'

In [16]:
pd.to_datetime("4-1-1987").strftime("%d, %B %Y")

'01, April 1987'

In [17]:
pd.to_datetime("4-1-1987", dayfirst=True).strftime("%d, %B %Y")

'04, January 1987'

In [18]:
pd.to_datetime("4|1|1987", format="%d|%m|%Y").strftime("%d, %B %Y")

'04, January 1987'